* {
    padding: 0;
    margin: 0;
    position: relative;
    box-sizing: border-box;
  }
  
html,
body {
    height: 100vh;
    margin-bottom: -1000px;
    overflow: hidden;
  }
body::-webkit-scrollbar {
    width: 0px;
    background-color: #F5F5F5;
} 
  html {
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    -moz-user-select: none !important;
    -webkit-touch-callout: none!important;
    -webkit-user-select: none!important;
    -khtml-user-select: none!important;
    -moz-user-select: none!important;
    -ms-user-select: none!important;
    user-select: none!important;
  }

.count {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c {
    background-image: linear-gradient(to top right,#ffb7b7, rgb(255, 0, 0));
    width: 120px;
    margin: 0 20px;
    cursor: pointer;
    border-radius: 13px;
    box-shadow: 1px -2px 4px 1px rgb(255, 103, 103);
    
}

.head {
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    color: #03031b;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-family: 'Sono';
    font-size: 30px;
    font-weight: 700;
    background-color: #eee;
    border-bottom: 2px solid #03031b;
}
.body {
    height: 70px;
    text-align: center;
    line-height: 70px;
    font-size: 20px;
    color: #fff;
    font-family: 'Lobster', cursive;
}
.bg-body {
    background-size: cover;
    background-repeat: no-repeat;
}
.body::before {
    content: '';
    display: block;
    width: 100%;
    height: 60px;
    position: absolute;
    top: 0px;
    right: -30px;
    background-image: url(./sourse/hoadao.PNG);
    background-size: contain;
    background-repeat: no-repeat;
    right: 0px;
}

.logo {
    font-weight: 700;
    font-size: 50px;
    color: #fff;
    font-family: 'Lobster', cursive;
    text-align: center;
    height: 200px;
    line-height: 200px;
}

.container {
    top: -220px;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
}

.fallingLeaves {
    width: 100%;
    height: 100vh;
    text-align: center;
    z-index: 10;
    margin-bottom: -1000px;
}
.fallingLeaves span {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url(./sourse/dao.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0px 70px 60px -40px;
    -webkit-animation: fallingLeaves 10s infinite linear;
    -moz-animation: fallingLeaves 10s infinite linear;
}

.fallingLeaves span:nth-child(5n+5) {
    -webkit-animation-delay: 1.3s;
    -moz-animation-delay: 1.3s;
}
.fallingLeaves span:nth-child(3n+2) {
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
}
.fallingLeaves span:nth-child(3n+10) {
    -webkit-animation-delay: 2.7s;
    -moz-animation-delay: 2.7s;
}
.fallingLeaves span:nth-child(7n+2) {
    -webkit-animation-delay: 3.5s;
    -moz-animation-delay: 3.5s;
}
.fallingLeaves span:nth-child(4n+5) {
    -webkit-animation-delay: 5.5s;
    -moz-animation-delay: 5.5s;
}
.fallingLeaves span:nth-child(3n+7) {
    -webkit-animation-delay: 8s;
    -moz-animation-delay: 8s;
}

@-webkit-keyframes fallingLeaves {
    0% {
        opacity: 1;
        -webkit-transform: translate(0, 0px) rotateZ(0deg);
    }
    75% {
        opacity: 1;
        -webkit-transform: translate(100px, 720px) rotateZ(270deg);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(100px, 740px) rotateZ(270deg);
    }
}
.music {
    position: absolute;
    right: 0;
    bottom: 0;
    color: rgba(0, 0, 0, 0.5);
    margin: 6px 10px;
    z-index: 100;
}
.music img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.list_music {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    top:0;
    z-index: 11;
    display:none;
}
.list {
    position: relative;
    width: 400px;
    max-height: 200px;
    background-color: #F5F5F5;
    overflow-y: scroll;
    margin-bottom: -100px;
}
.x_music {
    width: 440px;
    background-image: linear-gradient(to top right,rgb(255, 163, 163), rgb(255, 0, 0));
    height: 280px;
    padding-left: 20px;
    position: absolute;
    margin-right: 10px;
    border-radius: 10px;
    right: 0;
    bottom: 50px;
}
.title__list {
    background-color: transparent;
    height: 60px;
    width: 400px;
    line-height: 60px;
    font-size: 20px;
    font-family: 'Lobster';
    color: rgb(209, 255, 196);
}
.icon_list {
    float: left;
    background-image: url(./sourse/chapter.png);
    background-size: contain;
    width: 40px;
    height: 40px;
    margin: 10px 10px;
}
.img_music, .name_music, .status_music {
    float: left;
}
.name_music {
    width: 55%;
}
.img_music {
    width: 40px;
    height: 40px;
    margin: 5px 20px;
    border-radius: 50%;
    background-image: url(./sourse/download.jfif);
    background-size: contain;
}

.list__item_music {
    background-color: #eee;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid rgb(255, 0, 0);
}
.list::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.list::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}.list::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

.list::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(255, 98, 98)),
									   color-stop(0.72, rgb(247, 74, 74)),
									   color-stop(0.86, rgb(255, 186, 186)));
}
.status_music {
    width: 80px;
    text-align: center;
}
.music_play {
    color: rgb(4, 77, 10);
} 
.music_pause {
    color: red;
    background-color: yellowgreen;
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
    border-radius: 20px;
}
