* {
    padding: 0;
    margin: 0;
    position: relative;
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100%;
    
  }
  html {
    background-color: #03031b;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    -moz-user-select: none !important;
    -webkit-touch-callout: none!important;
    -webkit-user-select: none!important;
    -khtml-user-select: none!important;
    -moz-user-select: none!important;
    -ms-user-select: none!important;
    user-select: none!important;
  }

.count {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c {
    background-image: linear-gradient(to top right,#ffb7b7, rgb(255, 0, 0));
    width: 120px;
    margin: 0 20px;
    cursor: pointer;
    border-radius: 13px;
    box-shadow: 1px -2px 4px 1px rgb(255, 103, 103);
    
}

.head {
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    color: #03031b;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-family: 'Sono';
    font-size: 30px;
    font-weight: 700;
    background-color: #eee;
    border-bottom: 2px solid #03031b;
}
.body {
    height: 70px;
    text-align: center;
    line-height: 70px;
    font-size: 20px;
    color: #fff;
    font-family: 'Lobster', cursive;
}
.body::before {
    content: '';
    display: block;
    width: 100%;
    height: 60px;
    position: absolute;
    top: 0px;
    right: -30px;
    background-image: url(/sourse/hoadao.PNG);
    background-size: contain;
    background-repeat: no-repeat;
    right: 0px;
}

.c:hover {
    animation: all 1s infinite alternate;
    scale: 1.3;
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(20%, transparent), to(rgba(255, 255, 255, 0.5)));
}

.c::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: transparent;
    z-index: 4;
}

@keyframes all {
    from {
        scale: 1;
    }to {
        scale: 1.3;
        z-index: 5;
    }
}

.logo {
    font-weight: 700;
    font-size: 50px;
    color: #fff;
    font-family: 'Lobster', cursive;
    text-align: center;
    height: 200px;
    line-height: 200px;
}

.container {
    top: -220px;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    z-index: 1;
}

.fallingLeaves {
    text-align: center;
}
.fallingLeaves span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(./sourse/snowflake.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0px 70px 60px -40px;
    -webkit-animation: fallingLeaves 10s infinite linear;
    -moz-animation: fallingLeaves 10s infinite linear;
}

.fallingLeaves span:nth-child(5n+5) {
    -webkit-animation-delay: 1.3s;
    -moz-animation-delay: 1.3s;
}
.fallingLeaves span:nth-child(3n+2) {
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
}
.fallingLeaves span:nth-child(3n+10) {
    -webkit-animation-delay: 2.7s;
    -moz-animation-delay: 2.7s;
}
.fallingLeaves span:nth-child(7n+2) {
    -webkit-animation-delay: 3.5s;
    -moz-animation-delay: 3.5s;
}
.fallingLeaves span:nth-child(4n+5) {
    -webkit-animation-delay: 5.5s;
    -moz-animation-delay: 5.5s;
}
.fallingLeaves span:nth-child(3n+7) {
    -webkit-animation-delay: 8s;
    -moz-animation-delay: 8s;
}

@-webkit-keyframes fallingLeaves {
    0% {
        opacity: 1;
        -webkit-transform: translate(0, 0px) rotateZ(0deg);
    }
    75% {
        opacity: 1;
        -webkit-transform: translate(100px, 720px) rotateZ(270deg);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(100px, 740px) rotateZ(270deg);
    }
}
