/* Mobile & tablet */
@media (max-width: 1023px) {
    .logo svg {
        width: 90%;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .logo svg {
        width: 75%;
        line-height: normal;
        
    }
    .logo svg:nth-child(2) {
        width: 25%;
    }
    .c {
        margin: 0 13px;
    }
    @-webkit-keyframes fallingLeaves {
        0% {
            opacity: 1;
            -webkit-transform: translate(0, 0px) rotateZ(0deg);
        }
        75% {
            opacity: 1;
            -webkit-transform: translate(100px, 800px) rotateZ(270deg);
        }
        100% {
            opacity: 0;
            -webkit-transform: translate(100px, 800px) rotateZ(270deg);
        }
    }

}

/* Mobile */
@media (min-width: 440px) and (max-width: 739px) {
    .logo {
        margin-bottom: 70px;
    }
    .logo svg {
        width: 60%;
    }
    .logo svg:nth-child(2) {
        width: 40%;
        
    }
    .head {
        height: 80px;
        line-height: 80px;
    }
    .c {
        margin: 0 5px;
    }
    .logo {
        font-size: 40px;
        height: 100px;
        line-height: 50px;
    }
    
    
}

@media (max-width: 439px) {
    .title__list {
        font-size: 16px;
    }
    .x_music {
        width: 95%;
        overflow: hidden;
    }
    .logo svg {
        width:90%;
        margin: 0;
        padding: 0;
    }
    .logo svg:nth-child(2) {
        width: 40%;
    }
    .head {
        height: 80px;
        line-height: 80px;
    }
    .c {
        margin: 0 5px;
    }
    .logo {
        
    }
    @-webkit-keyframes fallingLeaves {
        0% {
            opacity: 1;
            -webkit-transform: translate(0, 0px) rotateZ(0deg);
        }
        75% {
            opacity: 1;
            -webkit-transform: translate(100px, 650px) rotateZ(270deg);
        }
        100% {
            opacity: 0;
            -webkit-transform: translate(100px, 700px) rotateZ(270deg);
        }
    }
}